@keyframes inverted-slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes inverted-slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@mixin animation {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.switch-enter-active {
  animation-name: 'slide-in';
  @include animation;
}

.switch-leave-active {
  animation-name: 'slide-out';
  @include animation;
}

.inverted-switch-enter-active {
  animation-name: 'inverted-slide-in';
  @include animation;
}

.inverted-switch-leave-active {
  animation-name: 'inverted-slide-out';
  @include animation;
}


