@import './_mixins.scss';
@import './animations.scss';

html, body {
  font-size: 100%;
  height: 100%;
  // @include for-size(medium) {
  //   overflow: hidden;
  // }
}

body, h1, h2 {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}

li {
  border-bottom: 1rem;
  line-height: 2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  color: white;
}

.container {
  padding: 12%;
}

.link {
  padding-bottom: 0.2rem;
}

.link:hover {
  cursor: pointer;
  border-bottom: 0.1rem solid currentColor;
}